@model FAQCheckpoint2.Models.Article
@Styles.Render("~/Content/stylesheets/articles.css")

@{
    ViewBag.Title = "Create";
}


<div class="feature-event">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            @Html.Partial("~/Views/Shared/_Admin_Nav.cshtml")
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="feature-content">
                <span><i class="fas fa-home"></i> / dashboard / articles / create</span>
                <h1 class="admin-head">CREATE AN ARTICLE</h1>
                <p>Follow your will.</p>
                <p>
                    <ol>

                    </ol>
                <p>

                <hr />

                @using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" id="EditView">
                        <h4>Article</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.image_url, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="file" id="file" class="" />
                                @Html.DisplayFor(model => model.image_url)
                                @Html.ValidationMessageFor(model => model.image_url, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Timestamp_publiched, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Timestamp_publiched, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Timestamp_publiched, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Category_id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Category_id, new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category_id, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                            <div class="col-md-offset-2 col-md-4">
                                <input onclick="preview()" value="Preview" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#PreviewView").hide();
        });
        function preview() {
            $("#title_preview").html($("#Title").val());
            $("#published_date").html($("#Publiched_date").val());
            $("#body_preview").html($("#Body").val());
            $("#PreviewView").show()
            $("#EditView").hide();
        }
        function unpreview() {
            $("#PreviewView").hide()
            $("#EditView").show();
        }
    </script>
