@model FAQCheckpoint2.Models.Article
@Styles.Render("~/Content/stylesheets/articles.css")

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Articles",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" id="EditView">
    <h4>Article</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image_url, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="file" id="file" class="" />
            @Html.DisplayFor(model => model.image_url)
            @Html.ValidationMessageFor(model => model.image_url, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Timestamp_publiched, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Timestamp_publiched, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Timestamp_publiched, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Category_id, new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category_id, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
        <div class="col-md-offset-2 col-md-4">
            <input onclick="preview()" value="Preview" class="btn btn-default" />
        </div>
    </div>
</div>
}
    <div id="PreviewView" class="col-xs-12">
        <div class="col-md-offset-2 col-md-4">
            <input onclick="unpreview()" value="Return" class="btn btn-default" />
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="col-xs-12 shadow">
                <div>
                    <div>
                        <h1 id="title_preview"></h1>
                    </div>
                    <div>
                        <div><span id="published_date"></span></div>
                        <div><span>By: YourUsername</span></div>
                    </div>
                </div>

                <div id="image_containter">
                    <img src="~/Content/images/article.svg" alt="Article Image" />
                </div>
                <div id="body_preview">
                    <p></p>
                </div>
            </div>
        </div>
        <div>

            <div class="col-md-3 hidden-sm aside-content shadow">
                <h4>Trending News</h4>
            </div>
        </div>
    </div>


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

        <script type="text/javascript">
            $(document).ready(function () {
                $("#PreviewView").hide();
            });
            function preview() {
                $("#title_preview").html($("#Title").val());
                $("#published_date").html($("#Publiched_date").val());
                $("#body_preview").html($("#Body").val());
                $("#PreviewView").show()
                $("#EditView").hide();
            }
            function unpreview() {
                $("#PreviewView").hide()
                $("#EditView").show();
            }
        </script>
