@model IEnumerable<FAQCheckpoint2.Models.Article>
@Styles.Render("~/Content/stylesheets/Articles/articles.css")
@Styles.Render("~/Content/stylesheets/Articles/index.css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!User.IsInRole("admin") && !User.IsInRole("staff"))
{
    <div class="container">
        <div class="feature-event">
            <div class="row">
                <div class="col-sm-12">
                    <div class="feature-content">
                        <span><i class="fas fa-home"></i> / about / Articles</span>
                        <h1>Newsfeed</h1>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">

                                <form action="#" method="post" role="search" id="articles-seach-frm" class="search-form">
                                    <input type="submit" value="" name="btn-search" id="btn-search" class="search-submit">
                                    <input type="search" name="search" id="articlesearch" class="search-text" placeholder="Search articles..." autocomplete="off">
                                </form>

                                <ul class="list-group">
                                    @foreach (var item in ViewBag.Categories)
                                    {
                                        <a href="#"><li class="list-group-item faq_cat">@item.Name</li></a>
                                    }
                                </ul>
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="row">
                                    <div id="article_list" class="col-sm-12">
                                        @Html.Partial("~\\Views\\Articles\\View.cshtml", Model)

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">

        <div class="feature-event">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    @Html.Partial("~/Views/Shared/_Admin_Nav.cshtml")
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="feature-content">
                        <span><i class="fas fa-home"></i> / dashboard / Newsfeed</span>
                        <h1 class="admin-head">NewsFeed Management</h1>
                        <p>Welcome to the admin section of DRHC Newsfeed Repository.</p>
                        <button type="button" class="btn btn-success">
                            @Html.ActionLink("ADD NEW ARTICLE", "Create")
                        </button>
                        <div>
                            <form action="#" method="post" role="search" id="articles-seach-frm" class="search-form">
                                <input type="submit" value="" name="btn-search" id="btn-search" class="search-submit">
                                <input type="search" name="search" id="articlesearch" class="search-text" placeholder="Search articles..." autocomplete="off">
                            </form>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Timestamp_publiched)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="article_list">
                                @Html.Partial("~\\Views\\Articles\\IndexAdminList.cshtml", Model)
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    //do an ajax method for search!!!
    function search() {
        window.location.href = "/Articles/Index/?search=" + $("#search-bar").val();
    }
    $(function () {
        $("ul.list-group .faq_cat").on('click', function () {
            var cate = $(this).text();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Search", "Articles")',
                data: { category: cate },
                success: function (data) {
                    $("#article_list").html(data);
                }
            });
            return false;
        });

        $("#articles-seach-frm").submit(function (event) {
            var search = $("#articlesearch").val();
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Search", "Articles")',
                data: { search: search },
                success: function (data) {
                    $("#article_list").html(data);
                }
            });
            
            event.preventDefault();
        });

    });


</script>
