<ul class="admin-links">
    @if (User.IsInRole("admin"))
    {
        <li class="btn-block"><i class="fas fa-user-circle"></i> @Html.ActionLink("Staff", "Index", "Accounts")</li>
    }
    <li class="btn-block"><i class='fas fa-blind'></i> @Html.ActionLink("Volunteers", "Admin", "Volunteers")</li>
    <li class="btn-block"><i class='fas fa-briefcase'></i> @Html.ActionLink("Careers", "Admin", "Job_Postings")</li>
    <li class="btn-block"><i class='fas fa-file-alt'></i> @Html.ActionLink("Applications", "Index", "Applications")</li>
    <li class="btn-block"><i class='fas fa-question-circle'></i> @Html.ActionLink("Faqs", "Admin", "FAQs")</li>
    <li class="btn-block"><i class='fas fa-envelope-square'></i> @Html.ActionLink("Contact us", "Admin", "ContactUs")</li>
    <li class="btn-block"><i class='fas fa-envelope-square'></i> @Html.ActionLink("Ecards", "Index", "Ecards")</li>
    <li class="btn-block"><i class='fas fa-newspaper'></i> @Html.ActionLink("Newsfeed", "Index", "Articles")</li>
    <li class="btn-block"><i class="fas fa-sign-out-alt"></i> @Html.ActionLink("Sign out", "Logout", "Accounts")</li>
</ul>