<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRHC Humber Hospital | Team 4</title>
    @Styles.Render("~/Content/themes/base/css")
    <link rel='stylesheet prefetch' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    @Styles.Render("~/Content/fontawesome-all.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/admin_style.css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/nav.js")
    @Scripts.Render("~/Scripts/faq.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <div class="top-heading" style="background-color:#F5F5F5;">
        <div class="row">
            <div class="col-lg-3">
                <a class="navbar-brand" href="@Url.Action("Index","FAQs")">
                    <img class="site-logo" src="~/images/logo.png" alt="drhc logo">
                </a>
            </div>
            <div class="col-lg-3">
                <div class="helpline" style="margin-top:30px; font-size: 20px;">
                    <strong>Call:</strong> <span style="color:#716AB7;">1807-223-8200</span>
                </div>
            </div>
            <div class="col-lg-4 search-home">
                <form action="#" method="post" role="search" id="faq-seach-frm" class="">
                    <input type="submit" value="" name="btn-search" id="btn-search" class="search-submit">
                    <input type="search" name="search" id="search" class="search-text" placeholder="Search" autocomplete="off">
                </form>
            </div>
            <div class="col-lg-2 donate-btn">
               <button class="btn btn-success" style="margin-top:20px; margin-right:20px;">DONATE</button>
            </div>
        </div>
       
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","FAQs")">HOME</a>
                    </li>
                    <li class="nav-item nav-parent">
                        <a class="nav-link" href="#">SERVICES&nbsp;&nbsp;<i class="fas fa-angle-down"></i></a>
                        <ul class="nav-child">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Emergency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Laboratory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Programs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Expectant Moms</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-parent">
                        <a class="nav-link" href="#">PATIENTS & VISITORS&nbsp;&nbsp;<i class="fas fa-angle-down"></i></a>
                        <ul class="nav-child">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Visitors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accessibility</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Food Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Patient Relations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Planning Your Stay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Short Stays</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Visiting the Hospital</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-parent">
                        <a class="nav-link" href="#">JOIN OUR TEAM&nbsp;&nbsp;<i class="fas fa-angle-down"></i></a>
                        <ul class="nav-child">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Application Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Job Postings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Physician Recruitment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Why DRHC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Volunteer Program</a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item nav-parent">
                        <a class="nav-link">ABOUT DRHC&nbsp;&nbsp;<i class="fas fa-angle-down"></i></a>
                        <ul class="nav-child">
                            <li class="nav-item">
                                @(Html.ActionLink("Newsfeed", "Index", "Articles", null, new { @class = "nav-link" }))
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Community Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Meet The Board</a>
                            </li>
                            <li class="nav-item">
                                @(Html.ActionLink("Meet our Doctors","Index","Staff_Members", null, new { @class = "nav-link"}))
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Strategic Plan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Why DRHC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Volunteer Program</a>
                            </li>
                        </ul>
                    </li>




                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="footer-nav">
            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <a href="@Url.Action("Index","FAQs")">
                        <img src="~/images/logo.png" alt="drhc logo" style="max-width:150px; height:auto;">
                    </a>
                </div>



                <div class="col-lg-2 col-md-2 col-sm-12">
                    <h2>SERVICES</h2>
                    <ul>
                        <li><a href="#">Emergency</a></li>
                        <li><a href="#">Tests</a></li>
                        <li><a href="#">Laboratory</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Expectant Moms</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <h2>PATIENTS & VISITORS</h2>
                    <ul>
                        @if (Session["username"] == null) {
                        <li><a href="../Users/Login">Patient Login</a></li>
                        } else
                        {
                            <li><a href="../Users/Logout">Patient Logout</a></li>
                        }
                        <li><a href="#">Visitors</a></li>
                        <li><a href="../ecards/Index">Ecards</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Food Services</a></li>
                        <li><a href="#">Patient Relations</a></li>
                        <li><a href="#">Planning Your Stay</a></li>
                        <li><a href="#">Short Stays</a></li>
                        <li><a href="#">Visiting The Hospital</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <h2>JOIN OUR TEAM</h2>
                    <ul>
                        <li><a href="#">Application Form</a></li>
                        <li><a href="#">Job Postings</a></li>
                        <li><a href="#">Physician Recruitment</a></li>
                        <li><a href="#">Volunteer Program</a></li>

                    </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <h2>ABOUT DRHC</h2>
                    <ul>
                        <li>@(Html.ActionLink("Newsfeed", "Index", "Articles", null, new { @class = "" }))</li>
                        <li><a href="#">Community Partners</a></li>
                        <li><a href="#">Meet The Board</a></li>
                        <li>@(Html.ActionLink("Meet our Doctors", "Index", "Staff_Members", null, new { @class = "" }))</li>
                        <li><a href="#">Strategic Plan</a></li>
                        <li><a href="#">Why DRHC</a></li>
                        <li><a href="#">Volunteer Program</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <p>58 Goodall St, Dryden, ON P8N 2Z6</p>
                    <p>Call: 1807-223-8200</p>
                </div>
            </div>
            <span class="disclaimer">THIS IS NOT A REAL HOSPITAL - JUST A COLLEGE PROJECT</span>
        </div>
    </footer>

    <script>
        $(function () {
            $('body').on('click', '.nav-parent', function () {
                $(this).children('.nav-child').slideToggle(500);
            });
        });
    </script>
</body>
</html>
