@model FAQCheckpoint2.Models.Staff_Members

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>@Html.DisplayFor(model => model.FullName)</h2>
    @if (User.IsInRole("admin") || User.IsInRole("staff"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    <div>
        <h4>Profile</h4>
        <hr />
        <dl class="dl-horizontal">
            <div class="row">
                <div id="image_container" class="col-md-4 hidden-xs">
                    @if (!String.IsNullOrEmpty(@Model.Image_Url))
                    {
                        <img style="width:100%" alt="Profile image" src="~/images/Staff_Members/@Model.Id/@Model.Image_Url" />
                    }
                    else
                    {
                        <img alt="Profil image" src="~/images/Staff_Members/default/image.jpg" />
                    }
                    @*<dt>
                            @Html.DisplayNameFor(model => model.Image_Url)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Image_Url)
                        </dd>*@
                </div>
                <div id="information_ontainer" class="col-sm-12 col-md-8">
                    <dt>
                        @Html.DisplayNameFor(model => model.First_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.First_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Last_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Last_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Breaf_Bio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Breaf_Bio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Working_From)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SimpleDate)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.Department.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department.Name)
                    </dd>
                </div>
            </div>


        </dl>
    </div>


</div>
