@model IEnumerable<FAQCheckpoint2.Models.ecard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Sender")
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.sender_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.card_message)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.card_choices.choice)
            </th>
            <th>
                @Html.DisplayName("Recipient")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (Convert.ToInt32(Session["role"]) == 1 || (Convert.ToInt32(Session["role"]) == 3 && (Convert.ToString(Session["id"]) == Convert.ToString(item.person_id))))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sender_first_name) @Html.DisplayFor(modelItem => item.sender_last_name)
                    </td>
                    <td class="hidden-xs">
                        @Html.DisplayFor(modelItem => item.sender_email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.card_message)
                    </td>
                    <td class="hidden-xs">
                        @Html.DisplayFor(modelItem => item.card_choices.choice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.person.first_name) @Html.DisplayFor(modelItem => item.person.last_name)
                    </td>
                    <td>
                        <div>
                            @if (Convert.ToInt32(Session["role"]) == 1)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.id })
                            }
                        </div>
                        <div>
                            @Html.ActionLink("Details", "Details", new { id = item.id })
                        </div>
                        <div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>