@model FAQCheckpoint2.Models.Volunteers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="feature-event">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                @Html.Partial("~/Views/Shared/_Admin_Nav.cshtml")
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="feature-content">
                    <span><i class="fas fa-home"></i> / dashboard / volunteers/ volunteer information</span>
                    <h1 class="admin-head">Volunteer Information</h1>
                    <p>This page contains all the information related to the selected volunteer entry.</p>
                    <hr />
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_dob)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_dob)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_phone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_interests)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_interests)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_shifts)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_shifts)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_message)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_message)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.volunteer_cv)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.volunteer_cv)
                            </dd>

                        </dl>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.volunteer_id }, htmlAttributes: new { @class = "btn btn-primary" })
                            @Html.ActionLink("Go Back", "Admin", "Volunteers", htmlAttributes: new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

