@model FAQCheckpoint2.Models.person

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>person</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>@ViewBag.ErrorMsg</p>
    <p><i>* = Required</i></p>
    <div class="form-group">
        <label class="col-md-2">Username *</label>
        <div class="col-md-10">
            @Html.TextBox("usernameInput", "", new { @class = "form-control" })
            <p>@ViewBag.userErrorMsg</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Password *</label>
        <div class="col-md-10">
            @Html.TextBox("passwordInput", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Confirm Password *</label>
        <div class="col-md-10">
            @Html.TextBox("passwordConfirmInput", "", new { @class = "form-control" })
            <p>@ViewBag.passwordErrorMsg</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.middle_name, htmlAttributes: new { @class = "control-label col-md-2" }) <i>(optional)</i>
        <div class="col-md-10">
            @Html.EditorFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.date_of_birth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.date_of_birth, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.gender, "Male") Male
            @Html.RadioButtonFor(model => model.gender, "Female") Female
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.health_card, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.health_card, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.health_card, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign Up" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(function () { 
       $('.datepicker').datepicker();
    });
</script>