@model IEnumerable<FAQCheckpoint2.Models.Job_Postings>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="faq-banner">
</div>
<div class="container">
    <div class="feature-event">
        <div class="row">
            <div class="col-regular">
                <div class="feature-content">
                    <span><i class="fas fa-home"></i> / join our team / job postings</span>
                    <h1>Job Postings</h1>
                    <p>
                        Here is a list of most the employment opportunities currently available.
                        We wish to thank all applicants, however, only those invited for an interview will be contacted directly.
                        We are currently looking to fill the following positions:
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-12">
                            <br />
                            <div class="accordion" id="search-results">
                                @foreach (var item in Model)
                                {
                                    <div class="accordion">
                                        <a href=""><label>@Html.DisplayFor(modelItem => item.job_title)</label></a>
                                        <div class="content">
                                            <div><label>@Html.DisplayNameFor(model => model.job_description):</label></div>
                                            <p>@Html.DisplayFor(modelItem => item.job_description)</p>
                                            <p><div class="d-inline-block"><label>@Html.DisplayNameFor(model => model.job_description):</label></div> @Html.DisplayFor(modelItem => item.Department.Name)</p>
                                            <p><div class="d-inline-block"><label>@Html.DisplayNameFor(model => model.job_type):</label></div> @Html.DisplayFor(modelItem => item.job_type)</p>
                                            <p><div class="d-inline-block"><label>@Html.DisplayNameFor(model => model.job_openings):</label></div> @Html.DisplayFor(modelItem => item.job_openings)</p>
                                            <p><div class="d-inline-block"><label>@Html.DisplayNameFor(model => model.job_posted_date):</label></div> @Html.DisplayFor(modelItem => item.job_posted_date)</p>
                                            <p>
                                                <div class="d-inline-block"><label>@Html.DisplayNameFor(model => model.job_closing_date):</label></div>
                                                @if (item.job_closing_date != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.job_closing_date)
                                                }
                                                else
                                                {
                                                    <div class="d-inline-block">TBD</div>
                                                }
                                            </p>
                                            <p>
                                                @Html.ActionLink("Apply", "Create", new { Controller = "Applications", action = "Create", posting = item.job_id }, htmlAttributes: new { @class = "btn btn-success btn-sm apply" })
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <p class="end-p">
                        We are open 24*7 seven days a week, please contact us at +1-(807)-223-8200 for more information.
                        To learn more about Physician opportunities at the DRHC be sure to check out the Dryden Regional Health Centre page on Facebook (we hope you “Like” us).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
